form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}

button {
  padding: 10px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #1a5ed8;
}
